.container
  = pagy_bootstrap_nav(@pagy).html_safe

  -@products.each_slice(3).each do |product_slice|
    .card-deck
      -product_slice.each do |product|
        .card.product-a
          .card-body
            .card-title= product.title
            %img.card-img.img-fluid{src: product.cover_image}
            %p.card-text.text-muted= product.description
          .card-footer
            .row
              .col-sm
                - if product.affiliate_link.present?
                  -link_name_with_icon = fontawesome_icon("fas fa-shopping-cart mr-1", "Buy Now")
                  = link_to(link_name_with_icon, product.affiliate_link, class: "btn btn-sm btn-success text-center", target: "_blank")
              .col-sm.text-right
                - if product.coupon_code.present?
                  -link_name_with_icon = fontawesome_icon("fas fa-eye mr-1", "Show Coupon")
                  = link_to(link_name_with_icon, product.coupon_code, class: "btn btn-sm btn-success text-center", target: "_blank")

  = pagy_bootstrap_nav(@pagy).html_safe